


{% block stylesheets2 %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    <style>
        #categories{
            width: 10%;
            margin: auto;
            padding-top: 100px;
        }
    </style>
{% endblock %}



{% block body %}


    <div class="content-page">
        <div class="container-fluid">
            <h3> STATISQUE PAR NBR DE FORMATIONS:</h3>
        <canvas id="categories" width="600" height="200" ></canvas>
            <h3> STATISQUE PAR DATE DE FORMATIONS:</h3>
        <canvas id="formations" width="600" height="200" ></canvas>
            <h3> STATISQUE PAR SECTEURS:</h3>
        <canvas id="secteurs" width="600" height="200"></canvas>

    </div>
    </div>

{% endblock %}
{% block javascripts2 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

    <script>
        let categories =document.querySelector("#categories")
        let categGraph = new Chart(categories,{
            type:"doughnut",
            data:{
                labels: {{ categNom|raw }},
                datasets: [{
                    label: "Répartition des catégories",
                    data: {{ categCount|raw }},
                    backgroundColor: {{ categColor|raw }}
                }]
            }
        })
        let secteurs =document.querySelector("#secteurs")
        let sectGraph = new Chart(secteurs,{
            type:"pie",
            data:{
                labels: {{ datas|raw }},
                datasets: [{
                    label: "Nombre de formations par secteur",
                    data: {{ secteurCount|raw }},
                    backgroundColor: {{ categColor|raw }}
                }]
            }
        })

        let formations =document.querySelector("#formations")
        let formGraph = new Chart(formations,{
            type:"line",
            data:{
                labels: {{ dates|raw }},
                datasets: [{
                    label: "Nombre des formations par date",
                    data: {{ formationCount|raw }},
                    borderColor: 'lightblue',
                    backgroundColor: {{ categColor|raw }}
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>

{% endblock %}